@import '../_variables.less';

.play-phase {
	.card-stack {
		display: inline-block;
	}

	.player-field {
		text-align: center;
		position: relative;
		margin-bottom: 20px;
	}

	.player-field-card {
		position: absolute;
		bottom: -1em;
		left: 0;
	}

	.player-indicator {
		position: absolute;
		top: 0;
		left: 0;
		font-weight: bold;
	}

	.board-battle-results {
		position: relative;
	}

	.board-battle-results {
		margin: 0 auto;
		opacity: 1;
		position: absolute;
		text-align: center;
		top: 37%;
		// transition: opacity 1s;
		width: 100%;
	}

	.invisible {
		opacity: 0;
	}

	.empty-stack {
		border: 1px solid black;
		display: inline-block;
		height: @cardHeight;
		margin: @cardMargin;
		padding: @cardPadding;
		vertical-align: middle;
		width: @cardWidth;
	}
}
