.chat {
	background-color: white;
	border-radius: 5px;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;

	.chat-toggle {
		position: absolute;
		right: 0;
		top: -30px;

		&,
		&:active,
		&:focus {
			outline: none;
		}
	}

	.chat-log {
		border: 1px solid black;
		height: 100px;
		overflow-y: scroll;
	}

	.chat-message {
	}

	.chat-log-system-message {
		font-style: italic;
	}
}
