@import '../_variables.less';

.setup-phase {
	display: flex;
	flex-direction: column;

	.assigned-stacks {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.assigned-stack {
		@cardOffset: 75px;
		@gutter: 7px;

		border: 1px solid black;
		box-sizing: border-box;
		height: @cardHeight * 4 - (@cardHeight - @cardOffset) * 5;
		text-align: center;
		padding-top: @gutter;
		width: @cardOuterWidth + @gutter * 2;

		.playing-card:not(:last-child) {
			margin-bottom: -@cardOffset;
		}
	}
}

.unassigned-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.unassigned-cards-content {
}
