@_cardUnit: 30px;

@cardBorder: 2px;
@cardHeight: @_cardUnit * 3.5;
@cardMargin: 5px;
@cardPadding: 15px;
@cardRadius: 10px;
@cardWidth: @_cardUnit * 2.5;
@cardOuterWidth: @cardWidth + (@cardMargin * 2);
