@import './_variables.less';

.app {
	position: relative;
}

.playing-card {
	// TODO Implement flip effect (example: https://codepen.io/darkwing/pen/bCali)
	background-color: white;
	border: @cardBorder solid black;
	border-radius: @cardRadius;
	box-sizing: border-box;
	display: inline-block;
	height: @cardHeight;
	margin: @cardMargin;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: @cardWidth;

	&.hidden {
		background-color: #6d695c;
		background-image:
			repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
			repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
			linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
			linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
		background-size: 25% 25%;
	}

	&.hover {
		cursor: pointer;
	}
}
.playing-card-highlighting {
	border: 10px solid red;
	box-sizing: border-box;
	display: inline-block;
	height: @cardHeight - @cardBorder * 2;
	left: 0;
	position: absolute;
	top: 0;
	width: @cardWidth - @cardBorder * 2;
}
.playing-card-bottom-right-type {
	bottom: @cardPadding;
	right: @cardPadding;
	position: absolute;
	transform: rotate(180deg);
}
.playing-card-top-left-type {
	left: @cardPadding;
	position: absolute;
	top: @cardPadding;
}
